@(obj: Balance)

<div style="display: none;" class="form-group">
    <label for="id">Название</label>
    <input name="id" type="text" class="form-control" id="id" value="@obj.id.getOrElse("-1")">
</div>
<div class="form-group">
    <label for="name">Название</label>
    <input name="name" type="text" class="form-control" id="name" value="@obj.name">
</div>
<div class="form-group">
    <label for="balance">Баланс</label>
    <input name="balance" type="text" class="form-control" id="balance" value="@obj.balance">
</div>
<div class="form-group">
    <label for="desc">Описание</label>
    <input name="desc" type="text" class="form-control" id="desc" value="@obj.description">
</div>
