@(obj: Income)

<div class="form-group">
    <label for="name">Название</label>
    <input name="name" type="text" class="form-control" id="name" value="@obj.name">
</div>
<div class="form-group">
    <label for="amount">Сумма</label>
    <input name="amount" type="text" class="form-control" id="amount" value="@obj.amount">
</div>
<div class="form-group">
    <label for="date">Дата</label>
    <input name="date" type="date" class="form-control" id="date" value="@obj.date.format("yyyy-MM-dd")">
</div>
<div class="form-group">
    <label for="accountField">Счет</label>
    <input name="account" type="text" class="form-control" id="account" value="@{Balance.findByID(obj.balanceId).name}">
</div>
<div class="form-group">
    <label for="desc">Описание</label>
    <input name="desc" type="text" class="form-control" id="desc" value="@obj.description">
</div>