@(incomes: List[Income])
<span><a href="@routes.IncomeControls.incomes()">Доходы</a></span>
<table class="table table-bordered">
    <tr>
        <th style="width: 40px">#</th>
        <th>Наименование</th>
        <th>Сумма</th>
        <th>Дата</th>
    </tr>
    @for(inc <- incomes) {
        <tr>
            <td>@inc.id</td>
            <td><a href="@routes.IncomeControls.readIncome(inc.id.getOrElse(1))">@inc.name</a></td>
            <td>@inc.amount р.</td>
            <td>@inc.date.format("yyyy-MM-dd")</td>
        </tr>
    }
</table>
<a href="@routes.IncomeControls.newIncome()"><button type="button" class="btn btn-default btn-xs">Создать</button></a>