@(outcomes: List[Outcome])
<span><a href="@routes.Money.outcomes">Расходы</a></span>
<table class="table table-bordered">
    <tr>
        <th style="width: 40px">#</th>
        <th>Наименование</th>
        <th>Стоимость</th>
        <th>Дата</th>
    </tr>
    @for(oc <- outcomes) {
        <tr>
            <td>@oc.id</td>
            <td><a href="@routes.Money.outcome(oc.id.get)">@oc.name</a></td>
            <td>@oc.amount р.</td>
            <td>@oc.date.format("dd-MM-yyyy")</td>
        </tr>
    }
</table>
<a href="@routes.Money.newOutcome()"><button type="button" class="btn btn-default btn-xs">Создать</button></a>
