@(outcomes: List[Outcome])
<span><a href="@routes.OutcomeControls.outcomes">Расходы</a></span>
<table class="table table-bordered">
    <tr>
        <th style="width: 40px">#</th>
        <th>Наименование</th>
        <th>Стоимость</th>
        <th>Дата</th>
    </tr>
    @for((oc, index) <- outcomes.zipWithIndex) {
        <tr>
            <td>@{index+1}</td>
            <td><a href="@routes.OutcomeControls.readOutcome(oc.id.get)">@oc.name</a></td>
            <td>@oc.amount р.</td>
            <td>@oc.date.format("yyyy-MM-dd")</td>
        </tr>
    }
</table>
<a href="@routes.OutcomeControls.newOutcome()"><button type="button" class="btn btn-default btn-xs">Создать</button></a>
